<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203421714581-us00nv3mu58kfu5433s1sjkn9e2jmkh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203421714581-us00nv3mu58kfu5433s1sjkn9e2jmkh0</string>
	<key>API_KEY</key>
	<string>AIzaSyBvWMeKPXjbDdLEDbZ0idWJchof1Bo8WSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>203421714581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hussein.AnimalDataBase</string>
	<key>PROJECT_ID</key>
	<string>animaldatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>animaldatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203421714581:ios:8d1e54c96318626c</string>
	<key>DATABASE_URL</key>
	<string>https://animaldatabase.firebaseio.com</string>
</dict>
</plist>